
<div id="carouselExampleFade" class="carousel slide carousel-fade bg-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinalavanzada-d4dbb.appspot.com/o/habitacion1.1.jpg?alt=media&token=52875863-4e40-45f2-adc4-9ff21c651046" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinalavanzada-d4dbb.appspot.com/o/habitacion1.jpg?alt=media&token=18e9c5ae-ae10-417a-be69-c2b92820e507" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinalavanzada-d4dbb.appspot.com/o/habitacion2.2.jpg?alt=media&token=841d840f-e540-410e-b383-60b08a673d0c" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/proyectofinalavanzada-d4dbb.appspot.com/o/habitacion2.jpg?alt=media&token=55a6f1c8-a4e3-43dc-ba5d-8c7200409f5d" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>